<div class="aside">
    <img class="logo" src="../assets/images/logo-ANSWER.svg" alt="">
    <ul>
        <li><a href="#"><span class="material-symbols-outlined">insert_chart</span>Dashboard</a></li>
        <li><a href="#"><span class="material-symbols-outlined">forum</span>Question</a></li>
        <li><a href="assignment.html"><span class="material-symbols-outlined">assignment</span>Assignment</a></li>
        <li><a href="#"><span class="material-symbols-outlined">video_library</span>Course</a></li>
        <li><a href="admin.html"><span class="material-symbols-outlined">group</span>Admin</a></li>
        <li><a href="#"><span class="material-symbols-outlined">settings</span>Settings</a></li>
    </ul>
    <div class="use-box">
            <div>
                <div class="bg-use" style="background:center / cover no-repeat url('../assets/images/andychen.jpeg');"></div>
            </div>
            <div class="">
                <p class="use-name">Andy Chen</p>
                <p class="use-contain">andy0401@mail.com</p>
            </div>
        </div>
    </div>
</div>
